.project
.cache
.buildpath
.settings
.*.swp
.DS_Store
/app/cache/*
/app/logs/*
/app/sessions/*
/backend/cache/navigation/
/vendor/
/app/config/parameters.yml
/bin/
/bundles/
/js/
/css/

/*
!/README.MD
!/src/
/src/*

!/src/Frontend/
/src/Frontend/*
!/src/Frontend/Modules/
/src/Frontend/Modules/*

!/src/Backend/
/src/Backend/*
!/src/Backend/Modules/
/src/Backend/Modules/*

!/src/Backend/Modules/ModuleMaker/
!/src/Backend/Modules/ModuleMaker/*

!/src/Frontend/Modules/ShopBrands/
!/src/Frontend/Modules/ShopBrands/*

!/src/Backend/Modules/ShopBrands/
!/src/Backend/Modules/ShopBrands/*


!/src/Frontend/Modules/ShopProducts/
!/src/Frontend/Modules/ShopProducts/*

!/src/Backend/Modules/ShopProducts/
!/src/Backend/Modules/ShopProducts/*

!/src/Frontend/Modules/ShopCategories/
!/src/Frontend/Modules/ShopCategories/*

!/src/Backend/Modules/ShopCategories/
!/src/Backend/Modules/ShopCategories/*

!/src/Frontend/Modules/ShopShipping/
!/src/Frontend/Modules/ShopShipping/*

!/src/Backend/Modules/ShopShipping/
!/src/Backend/Modules/ShopShipping/*


!/src/Frontend/Modules/ShopBase/
!/src/Frontend/Modules/ShopBase/*

!/src/Backend/Modules/ShopBase/
!/src/Backend/Modules/ShopBase/*

!/src/Frontend/Modules/ShopDiscountCodes/
!/src/Frontend/Modules/ShopDiscountCodes/*

!/src/Backend/Modules/ShopDiscountCodes/
!/src/Backend/Modules/ShopDiscountCodes/*

!/src/Frontend/Modules/ShopOrders/
!/src/Frontend/Modules/ShopOrders/*

!/src/Backend/Modules/ShopOrders/
!/src/Backend/Modules/ShopOrders/*

!/src/Frontend/Modules/ShopProductProperties/
!/src/Frontend/Modules/ShopProductProperties/*

!/src/Backend/Modules/ShopProductProperties/
!/src/Backend/Modules/ShopProductProperties/*

!/laravel/
/laravel/*

!/laravel/database/*

!/.gitignore