.project
.cache
.buildpath
.settings
.*.swp
.DS_Store
/app/cache/*
/app/logs/*
/app/sessions/*
/backend/cache/navigation/
/vendor/
/app/config/parameters.yml
/bin/
/bundles/
/js/
/css/

/*
!/src/
/src/*

!/src/Frontend/
/src/Frontend/*
!/src/Frontend/Modules/
/src/Frontend/Modules/*

!/src/Backend/
/src/Backend/*
!/src/Backend/Modules/
/src/Backend/Modules/*

!/src/Backend/Modules/ModuleMaker/
!/src/Backend/Modules/ModuleMaker/*

!/src/Frontend/Modules/ShopBrands/
!/src/Frontend/Modules/ShopBrands/*

!/src/Backend/Modules/ShopBrands/
!/src/Backend/Modules/ShopBrands/*

!/src/Frontend/Modules/Shop/
!/src/Frontend/Modules/Shop/*

!/src/Backend/Modules/Shop/
!/src/Backend/Modules/Shop/*

!/src/Backend/Frontend/ShopProducts/
!/src/Backend/Frontend/ShopProducts/*

!/src/Backend/Modules/ShopProducts/
!/src/Backend/Modules/ShopProducts/*

!/src/Backend/Frontend/ShopCategories/
!/src/Backend/Frontend/ShopCategories/*

!/src/Backend/Modules/ShopCategories/
!/src/Backend/Modules/ShopCategories/*

!/src/Backend/Frontend/ShopShipping/
!/src/Backend/Frontend/ShopShipping/*

!/src/Backend/Modules/ShopShipping/
!/src/Backend/Modules/ShopShipping/*


!/src/Backend/Frontend/ShopBase/
!/src/Backend/Frontend/ShopBase/*

!/src/Backend/Modules/ShopBase/
!/src/Backend/Modules/ShopBase/*

!/laravel/
/laravel/*

!/laravel/database/*

!/.gitignore